.alert {
  position: sticky;
  top: 10%;
  right: 5%;
  height: 2.5rem;
  width: 59%;
  background-color: rgb(9, 97, 9);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-radius: 5px;
}
