.projectswrapper {
  width: 100%;
  margin-top: 2rem;
  min-height: 25rem;
  text-align: center;
}
.projectswrapper h1 {
  font-size: 2.5rem;
}
::-webkit-scrollbar {
  display: none;
}
.projects {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
.project {
  position: relative;
  padding: 1rem;
  max-width: 85%;
  max-height: 100%;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
  background: #061824;

  background: rgb(9, 8, 40);
  background: linear-gradient(
    90deg,
    rgba(9, 8, 40, 1) 5%,
    rgba(14, 6, 32, 1) 49%,
    rgba(25, 4, 34, 1) 87%
  );
  border-radius: 15px;
}
.project img {
  width: 100%;
  height: 100%;
  border-radius: 15px;
}
.project .sitelink {
  color: #eee;
  border: 3px solid #fff;
  width: 14rem;
  height: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 8px;
  transition: color 0.2s ease-out;
  background-color: rgba(128, 7, 128, 0.15);
}
.project .sitelink:hover {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
.ghlink {
  position: absolute;
  top: 7%;
  right: 7%;
  color: #eee;
  cursor: pointer;
}
.ghblack {
  color: black;
}

@media (min-width: 600px) and (max-width: 900px) {
  .projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .project .sitelink {
    height: 3rem;
  }
}
@media (min-width: 900px) {
  .projects {
    flex-direction: row;
  }
}
