.skills {
  margin-top: 1rem;
  width: 100%;
  min-height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 7rem 0;
}
.skills h1 {
  font-size: 2.3rem;
}
.skillscontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.html {
  color: rgb(185, 81, 11);
}
.css {
  color: rgb(29, 72, 189);
}
.js {
  color: goldenrod;
}
.react {
  color: aqua;
}

@media (min-width: 750px) {
  .skillscontainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    box-shadow: 2px 2px 15px rgb(0, 0, 0, 0.4);
    gap: 5rem;
    padding: 1.5rem 3rem;
    border-radius: 10px;
  }
}
