@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
#root {
  box-sizing: border-box;
  color: #eee;
}
body {
  max-width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background: rgb(6, 5, 36);
  background: radial-gradient(
    circle,
    rgb(6, 5, 39) 8%,
    rgb(14, 4, 22) 29%,
    rgb(2, 20, 7) 81%,
    rgb(10, 3, 32) 92%
  );
  overflow-y: scroll;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.fontp {
  font-family: "Paytone One", sans-serif;
}
.formwithimg {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#formsection {
  margin-top: 5rem;
  text-align: center;
}
::-webkit-scrollbar {
  display: none;
}
